<%- @recieved.each do |message| %>
	<p>
	  <strong>From:</strong>
	  <%= message.from %>
	</p>

	<p>
	  <%= message.content %>
	</p>
<% end %>
<%- @send.each do |message| %>
	<p>
	  <strong>To:</strong>
	  <%= message.to %>
	</p>

	<p>
	  <%= message.content %>
	</p>
	<%= link_to 'Destroy', message_path(message), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %> 
