<%= form_for @message do |form| %>
  <p>
    <%= form.label :From %><br>
    <%= form.text_field :from %>
  </p>
 
  <p>
    <%= form.label :To%><br>
    <%= form.text_area :to %>
  </p>

  <p>
    <%= form.label :Content%><br>
    <%= form.text_area :content %>
  </p> 

  <p>
    <%= form.submit %>
  </p>
<% end %>