
<%= form_for @user do |form| %>
  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :Email %><br>
    <%= form.text_field :email %>
  </p>
 
  <p>
    <%= form.label :Password %><br>
    <%= form.text_area :password %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>